<footer class="page-footer" style="background-color:#D95A94">
  <div class="container">
    <div class="row">
      <div class="col l6 s12">
        <h5 class="white-text">Ciosa</h5>
        <p class="grey-text text-lighten-4">Would you like to join us? Check out <a href="http://www.ciosa.org.in/join-ciosa">HERE</a></p>
      </div>
      <div class="col l4 offset-l2 s12">
        <h5 class="white-text">Quick Links</h5>
        <ul>
          <li><a class="grey-text text-lighten-3" href="http://www.ciosa.org.in/">Our Organization Site</a></li>
          <li><a class="grey-text text-lighten-3" href="http://www.ciosa.org.in/about">About us</a></li>
          <li><a class="grey-text text-lighten-3" href="http://www.ciosa.org.in/user/login">Member Login</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-copyright" style="background-color:#A0225F">
    <div class="row">
      <div class="col s10">
	CIOSA, 14, Venugopal Avenue, Spur Tank Road, Chetpet, Chennai &#150; 600 031. Ph: 91-44-65515921, Email: reachus@ciosa.org.in
      </div>
      <div class="col s2">
	&#x00A9; 2016
      </div>
    </div>
  </div>
</footer>